<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <meta name="author" content="Anthony Italiano">
        <meta name="description" content="address book">
        <meta name="keywords" content="name, email, address, phone, state, city, zip">
		<title>HC TECH TALK</title>
		<link rel="stylesheet" href="css/chat-style.css">
        <style>
            #retry{
                visibility:hidden;
                color:navy;
            }
            #chat-room{
                visibility:hidden;
            }
            #message-form{
                visibility:hidden;
            }
            #login{
                visibility:visible;
                color:navy;
            }
        </style>
		<script>
			var cr;
			var mess;
			var time;
            var req;
            var user;
            var pass;
            var retry;
            var mf;
            var login
            var permUser;
			
			window.onload = init;
            window.setInterval(getMessages, 1000);
		
			function init(){
				cr=document.getElementById("chat-room");
				mess=document.getElementById("message");
                login=document.getElementById("login");
                retry=document.getElementById("retry");
                mf=document.getElementById("message-form");
				console.log(window.screen.width);
				mess.style.width=window.screen.width-30+"px";
                user=document.getElementById("username");
                pass=document.getElementById("password");
                welcome();
			}
            
            function welcome(){
                var suffix;
				var prefix;
				time = new Date();
				if(time.getMinutes()<10){
					prefix="0";
				}else{
					prefix="";
				}
				if(time.getHours()<12){
					suffix="am";
				}else{
					suffix="pm";
				}
                cr.innerHTML+="<div class='container darker'><p>Administrator-Bot</p><img id='admin' src='img/adminbot.jpg' alt='avatar' style='float: left; max-width: 60px; width: 100%; margin-right: 20px; border-radius: 50%;'><p>Welcome to the Chatroom!</p><span class='time-left'>"+time.getHours()+":"+prefix+time.getMinutes()+""+suffix+"</span></div>"
            }
            
            function signin(){
                req = new XMLHttpRequest();
                req.open("POST", "https://cs.hiram.edu/~italianoaj/rest/login");
                req.addEventListener("load", access);
                var obj = {"username":user.value,"password":pass.value};
                permUser=user.value;
                req.setRequestHeader("Content-Type", "application/json");
                console.log(JSON.stringify(obj));
                req.responseType="json";
                req.send(JSON.stringify(obj));
            }

			function send(form){
                var suffix;
                var prefix;

                time = new Date();
                if(time.getMinutes()<10){
                    prefix="0";
                }else{
                    prefix="";
                }
                if(time.getHours()<12){
                    suffix="am";
                }else{
                    suffix="pm";
                }
                var sent=time.getHours()+":"+prefix+time.getMinutes()+""+suffix;
				req=new XMLHttpRequest();
                req.open("POST", "https://cs.hiram.edu/~italianoaj/rest/sendMessage");
                req.addEventListener("load", messageSent);
                var obj = {"username":permUser, "message":mess.value, "time":sent};
                console.log(obj);
                req.setRequestHeader("Content-Type","application/json");
                req.responseType="json";
                req.send(JSON.stringify(obj));
			}
            
            function getMessages(){
                console.log("asking for messages");
                req=new XMLHttpRequest();
                req.open("GET", "https://cs.hiram.edu/~italianoaj/rest/messages");
                req.addEventListener("load", displayMessages);
                req.setRequestHeader("Content-Type","application/json");
                
                req.responseType="json";
                req.send();
            }
            
            function displayMessages(){
                for(var i=0; i<req.response.testMessages.length; i++){
                    if(req.response.testMessages[i].username==permUser){
                        continue;
                    }else{
                        console.log(req.response.testMessages.message);
                    }
                }
            }
            
            function access(){
                console.log("hello");
                if(req.response.login==true){
                    login.style.display="none";
                    retry.style.display="none";
                    cr.style.visibility="visible";
                    mf.style.visibility="visible";
                }else{
                    login.style.visibility="visible";
                    retry.style.visibility="visible";
                    cr.style.visibility="hidden";
                    mf.style.visibility="hidden";
                }
            }
            
            function messageSent(){
                console.log("got back data");
                console.log(req.response);
                cr.innerHTML+="<div class='container'><p>"+permUser+"</p><img id='user' src='img/user.png' alt='avatar' style='float: right; max-width: 60px; width: 100%; margin-left: 20px; border-radius: 50%;'><p>"+req.response.message+"</p><span class='time-right'>"+req.response.time+"</span></div>";
            }
            
            function help(){
                var suffix;
				var prefix;
				time = new Date();
				if(time.getMinutes()<10){
					prefix="0";
				}else{
					prefix="";
				}
				if(time.getHours()<12){
					suffix="am";
				}else{
					suffix="pm";
				}
				cr.innerHTML+="<div class='container darker'><p>Administrator-Bot</p><img id='admin' src='img/adminbot.jpg' alt='avatar' style='float: left; max-width: 60px; width: 100%; margin-right: 20px; border-radius: 50%;'><p>You can type a message to the group in the space provided below. You can then send the message by clicking the send button. Beep-Boop-Beep *insert other helpful information here.</p><span class='time-left'>"+time.getHours()+":"+prefix+time.getMinutes()+""+suffix+"</span></div>";
            }
		</script>
	</head>
	<body>
		<div class="navbar">
            <a href="#home" onclick="location.reload();">Tech Talk</a>
            <p>Instant Messenging for Hiram CPSC Students</p>
        </div>
        <br>
         <div id="login">
            <form>
                Username: <input type="text" name="username" id="username">
                Password: <input type="password" name="password" id="password">
                <input type="button" value="login" onclick="signin(); this.form.reset();">
            </form>
        </div>
        <div id="retry">
            <p>Try that again<p>
        </div>
		<div id="chat-room">
            <% for(var i=0; i<testMessages.length; i++) { %>
                <div class='container darker'>
                    <p><%= testMessages[i].username%></p>
                    <img id='user' src='img/user.png' alt='avatar' style='float: left; max-width: 60px; width: 100%; margin-right: 20px; border-radius: 50%;'>
                    <p><%= testMessages[i].message %></p>
                    <span class ='time-left'><%= testMessages[i].time %></span>
                </div>
             <% } %>            
		</div>
		<br><br><br>
		<div id="message-form">
			<form action="https://cs.hiram.edu/~italianoaj/rest/sendMessage" method="POST">
				<textarea id="message" rows="8"  placeholder="Type your message here..."></textarea>
				<input type="button" value="SEND" onclick="send(this.form); this.form.reset();">
                <input type="button" value="HELP" onclick="help();">
			</form>
		</div>
	</body>
</html>
